/* This is where we will be
writing all of your styles */
body{
background-color: #F0F8FF;	
text-align: left;
font-family: "lato", sans-serif;
font-weight: bold;
font-size: 20px;
text-align: left;
}
h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 60px;
	color: #347C98;
	font-family: "anton", sans-serif;
}
h2{
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 20px;
	color: #347C98;
	font-family: "anton", sans-serif;
	margin-top:-25px;
}

a{text-decoration: none;}

h3{
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 22px;
	color: BLACK;
	font-family: sans-serif;
}

.tabletop {
	color: #034f84;
	font-weight:bold;
	text-decoration:underline;
}
	/*.mammels{
		color: RED;
		font-style: italic;
	}

	.birds{
		color: BLUE;
	}

	.fish{
		color: ORANGE;
		text-decoration: underline;
	}*/

/*
#firstList{
	background-color: #deeaee;
}

#secondList{
	background-color: #deeaee;*/

h4{
	text-align: center;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 25px;
	color: BLACK;
	font-family: "anton", sans-serif;}

h5{
	text-align: center;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 20px;
	color: BLACK;
	font-family: "anton", sans-serif;
	margin-top: -10px;
}

ul {
	display: flex;
	list-style: none;
	justify-content:space-around;
}

li {
	background-color: white;
	font-size:30px;
	padding:30px;
	width: 15%;
	text-align:center;
	flex-direction:column;
}
div{
	display: inline-block;
	padding:10px;
}
li:hover{
	opacity: 0.5;}